@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sub_part {
    height: 95%;
    width: 45vw;
    border-radius: 25px;
}

.landing_page {
    background-color: rgb(14, 20, 37);
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing_page .lp_title {
    color: rgb(29, 136, 254);
    text-align: center;
    margin: 10px;
}

.landing_page h2 {
    font-size: 40px;
    padding: 30px;
}

/* Auth Part */

.auth_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth_title, .cta_signup {
    text-align: center;
    margin: 20px;
}

input {
    width: 350px;
    padding: 10px;
    border: none;
    background-color: #e3e3e3;
    border-radius: 5px;
    margin-top: 10px;
}

.input_container {
    margin: 10px;
}

.reset_p {
    font-size: 13px;
    text-align: right;
    margin-top: 3px;
}

.reset_p:hover {
    cursor: pointer;
}

form button {
    width: 350px;
    margin: 10px;
    padding: 7px 0px;
    border: none;
    background-color: rgb(29, 136, 254);
    background-color: rgb(14, 20, 37);
    border-radius: 5px;
    color: white;
}

.error {
    font-size: 14px;
    color: red;
    text-align: center;
}

