* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.city {
    text-align: center;
    border: 2px solid rgb(38, 100, 165);
    min-width: 250px;
    border-radius: 10px;
    margin: 5px;
}


