@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: rgb(29, 136, 254);
    --main-bg-color: background-color: rgb(14, 20, 37);
}

.charts_app {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}