* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

section {
    min-height: 600px;
    background-image: url('thor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

section h1 {
    font-size: 3rem;
    padding-top: 150px;
    padding-left: 100px;
}

section p {
    width: 50%;
    background-color: grey;
    opacity: 0.7;
    margin-left: 100px;
}

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: wheat;
}