.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.navbar a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-weight: bold;
}

.navbar a.active {
    border: 2px solid black;
    padding: 0px 5px 2px 5px;
    border-radius: 5px;
}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
